@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: 0.3s ease-out;
    box-sizing: border-box;
}

:root {
    --fjalla: 'Fjalla One', sans-serif;
    --inter: 'Inter', sans-serif;
    --name: linear-gradient(to right, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    --mail: linear-gradient(51.06deg, #9358F7 0.87%, #9259F7 7.31%, #8E5DF6 13.75%, #8862F5 20.19%, #806BF4 26.63%, #7575F2 33.07%, #6882F0 39.51%, #5990EE 45.95%, #4A9FEB 52.39%, #3BADE9 58.84%, #2EBAE7 65.28%, #23C4E5 71.72%, #1BCDE4 78.16%, #15D2E3 84.6%, #11D6E2 91.04%, #10D7E2 97.48%);
    --upwork: linear-gradient(45.4deg, #F4426C 6.41%, #FBF2B1 98.99%);
    --github: linear-gradient(132.33deg, #D24074 -0.67%, #6518B4 102.54%);
}


[theme="dark"] {
    --background: hsl(0, 0%, 10%);
    --menu-background: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 100%);
    --menu-text: hsl(0, 0%, 10%);
    --url: hsl(208, 69%, 66%);
    --card-color: hsl(168, 71%, 62%);
    --card-background: hsl(218, 58%, 16%);
    --card-text: hsl(226, 70%, 88%);
}

[theme="light"] {
    --background: hsl(0, 0%, 100%);
    --menu-background: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 10%);
    --menu-text: hsl(0, 0%, 100%);
    --url: hsl(237, 71%, 42%);
    --card-color: hsl(272, 35%, 39%);
    --card-background: hsl(33, 53%, 93%);
    --card-text: hsl(260, 15%, 32%);
}

body {
    background: var(--background);
    color: var(--text);
    font-family: var(--inter);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    min-height: 100vh;
}

.main {
    width: 90%;
    margin: auto;
}

header {
    width: 100%;
    padding: 25px 0;
}

.navbar {
    width: 100%;
}

.logo {
    color: var(--text);
    font-size: 24px;
    line-height: 29px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: var(--text);
    font-size: 18px;
    line-height: 22px;
}

.hamburger {
    display: none;
}

/* flexbox */

.row {
    display: flex;
}

.space-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline {
    display: inline-flex;
    align-items: center;
}

/* flexbox */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Media */

@media (max-width: 500px) {
    .nav-menu {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        padding: 20px 0;
        background: var(--menu-background);
        flex-direction: column;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link {
        color: var(--menu-text);
    }

    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .nav-menu.active {
        top: 80px;
    }
}

/* Media */