@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: 1s cubic-bezier(1, 0, 0, 1);
    box-sizing: border-box;
}

:root {
    --fjalla: 'Fjalla One', sans-serif;
    --inter: 'Inter', sans-serif;
}

[theme="dark"] {
    --background: hsl(0, 0%, 10%);
    --menu-background: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 100%);
    --menu-text: hsl(0, 0%, 10%);
    --url: hsl(208, 69%, 66%);
}

[theme="light"] {
    --background: hsl(0, 0%, 100%);
    --menu-background: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 10%);
    --menu-text: hsl(0, 0%, 100%);
    --url: hsl(237, 71%, 42%);
}

body {
    background: var(--background);
    color: var(--text);
    font-family: var(--inter);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    width: 90%;
    margin: auto;
}

header {
    width: 100%;
    padding: 25px 0;
}

.navbar {
    width: 100%;
}

.logo {
    color: var(--text);
    font-size: 24px;
    line-height: 29px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: var(--text);
    font-size: 18px;
    line-height: 22px;
}

.hamburger {
    display: none;
}

/* flexbox */

.row {
    display: flex;
}

.space-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* flexbox */

/* Media */

@media (max-width: 500px) {
    .nav-menu {
        position: absolute;
        top: -100%;
        left: 0;
        /* transform: translateX(-50%); */
        width: 100%;
        padding: 20px 0;
        background: var(--menu-background);
        flex-direction: column;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link {
        color: var(--menu-text);
    }

    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .nav-menu.active {
        top: 80px;
    }
}

/* Media */